$mw: 950px;
$tw: 1200px;
$lw: 1370px;

:root {
    --color-text: #000000;
	--color-main: #0094D2;
}

@mixin border {
	$red: random(256)-1;
	$green: random(256)-1;
	$blue: random(256)-1;
 	border: 1px solid red;
 	border-color: rgb($red, $green, $blue);
}

@mixin placeholder-color($color) {
	&::-webkit-input-placeholder { /* WebKit browsers */
	  color: $color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	  color: $color;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	  color: $color;
	}
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Fonts */

@font-face { 
	font-family: 'opensans-hebrew-regular'; 
	src: url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype'); 
} 
@mixin f-os-r {
	font-family: 'opensans-hebrew-regular'; 
}

@font-face { 
	font-family: 'opensans-hebrew-light'; 
	src: url('../fonts/OpenSansHebrew-Light.ttf') format('truetype'); 
} 
@mixin f-os-l {
	font-family: 'opensans-hebrew-light'; 
}

@font-face { 
	font-family: 'opensans-hebrew-bold'; 
	src: url('../fonts/OpenSansHebrew-Bold.ttf') format('truetype'); 
} 
@mixin f-os-b {
	font-family: 'opensans-hebrew-bold'; 
}

@font-face { 
	font-family: 'opensans-hebrew-extra-bold'; 
	src: url('../fonts/OpenSansHebrew-ExtraBold.ttf') format('truetype'); 
} 
@mixin f-os-xb {
	font-family: 'opensans-hebrew-extra-bold'; 
}


@font-face { 
	font-family: 'Rubik-thin';
	src: url('../fonts/Rubik-Thin.ttf') format('truetype'); 
} 
@mixin f-t {
	font-family: 'Rubik-thin';
}

@font-face { 
	font-family: 'Rubik-light'; 
	src: url('../fonts/Rubik-Light.ttf') format('truetype'); 
} 
@mixin f-l {
	font-family: 'Rubik-light'; 
}

@font-face { 
	font-family: 'Rubik-regular';
	src: url('../fonts/Rubik-Regular.ttf') format('truetype'); 
} 
@mixin f-r {
	font-family: 'Rubik-regular';
}

@font-face { 
	font-family: 'Rubik-medium';
	src: url('../fonts/Rubik-Medium.ttf') format('truetype'); 
} 
@mixin f-m {
	font-family: 'Rubik-medium';
}

@font-face { 
	font-family: 'Rubik-bold';
	src: url('../fonts/Rubik-Bold.ttf') format('truetype'); 
} 
@mixin f-b {
	font-family: 'Rubik-bold';
}
/* /Fonts */



/* Global */
html {
	margin: 0 !important;
	overflow-x: hidden;
}
body {
	position: relative;
	margin: 0;
  	padding: 0;
  	overflow-x: hidden;
  	@include f-r;
  	font-size: 18px;
}

input {
	border: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

*, *::before, *::after {
	box-sizing: border-box;
	direction: rtl;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul {
	-webkit-padding-start: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}




@import 'parts';
@import 'index';
@import 'inner';
@import 'wp';
